main{padding-bottom: 108px;
}

p{
    width: 100%;
    margin: 0;
}

.today{
    background-color: #ffffff;
    border-bottom-right-radius:14px ;
    border-bottom-left-radius: 14px;
    padding-bottom: 20px;
}

.today__content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 44px;
    padding-top: 24px;
    margin-bottom: 20px;
}

.today__content::before{
    content: "";
    display: block;
    width: 145px;
    border: 1px solid #DDDDDD;
}

.today__content::after{
    content: "";
    display: block;
    width: 145px;
    border: 1px solid #DDDDDD;
}

.today__time{
    color: #DDDDDD;
    margin: 0;
    margin-bottom: 6px;
    margin-left: 30px;
    
}

.today__title{
    font-family: "Roboto";
    font-weight:500;
    font-size: 14px;
    line-height: 16px;
    color: #DDDDDD;
    margin: 0;
    margin-left:10px ;
    margin-right:10px ;
}


.today__chatt{  
    
    font-family: "Robot";
    font-weight:400 ;
    font-size: 14px;
    line-height:18px ;
    max-width: 275px;
    min-width: 75px;
    background-color: #E6EDF6;
    position: relative;
    border-radius: 5px;
    padding:9px 0px 11px 15px;
    margin-bottom: 16px;
    margin-left: 24px;

    &::before{
        display: block;
        position: absolute;
        z-index: 1;
        top: 0px;
        left: -7px;
        width: 20px;
        height: 20px;
        content: "" ;
        border-top: 15px solid #E6EDF6;
        border-bottom: 15px solid transparent;
        border-left: 15px solid transparent;
    }
}

.today__second{
    color: #DDDDDD;
    margin: 0;
    margin-bottom: 6px;
    margin-left: 333px;
}

.today__answer{  
    font-family: "Robot";
    font-weight:400 ;
    font-size: 14px;
    line-height:18px ;
    max-width: 275px;
    min-width: 75px;
    background-color: #E6EDF6;
    position: relative;
    border-radius: 5px;
    padding:9px 0px 11px 15px;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: 24px;

    &::before{
        display: block;
        position: absolute;
        z-index: 1;
        top: 0px;
        left: 265px;
        width: 20px;
        height: 20px;
        content: "" ;
        border-top: 15px solid #E6EDF6;
        border-bottom: 15px solid transparent;
        border-right: 15px solid transparent;
    }
}

.today__chatt--third{
   width: 90px;
}

.today__last{
    width: 193px;
    font-family: "Robot";
    font-weight:400 ;
    font-size: 14px;
    line-height:18px ;
    margin-left: auto;
    margin-right: 24px;
    margin-bottom:30px ;
    padding:9px 0px 11px 15px;
    background-color: #FFC2C1;
}

.today__wrap{
    display: flex;
    justify-content: space-between;
    width: 352px;
    border: 1px solid #DDDDDD;
    border-radius: 25px;
    margin-left:24px ;
    margin-right: 24px;
    padding: 4px;
}

.today__enter{
    border: none;
    outline: none;
    padding-left: 20px;
    padding-top:13px ;
    padding-bottom:13px ;
    margin-right: auto;
}

.today__press{
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #ffffff;
    background-color:#6A96D8;
    border-radius: 20px;
    border: none;
    outline: none;
    padding: 9px 26px;
}
